---
layout: default
---
<div class="home cheatsheet">

  <a href="{{ site.baseurl }}{% link index.html %}" class="cheatsheet-link">&lt;- Back</a>

  <h1>
    {% if page.logo %}
      <img class="cheatsheet-logo" src="{{ page.logo }}">
    {% endif %}
    {{ page.title | downcase }}
  </h1>

  {% for section in page.section %}
  <div class="section">
    <div class="section-name">{{ section.name }}</div>

    <div class="section-body">
      {% for command in section.commands %}
      <div class="command">
        {% comment %} Check if the command is just a `key: value` pair or a whole object {% endcomment %}
        {% if command[0] %}
        <span class="command-title">{{ command[0] }}</span>
        <pre>{{ command[1] | escape }}</pre>
        {% else %}
        <span class="command-title">{{ command.title }}</span>
        {% if command.description %}
        <span class="command-description">{{ command.description }}</span>
        {% endif %}
        <pre>{{ command.command | escape }}</pre>
        {% if command.options %}
        <dl class="command-options">
        {% for option in command.options %}
        <dt><pre>{{ option[0] }}</pre></dt>
        <dd>{{ option[1] }}</dd>
        {% endfor %}
        </dl>
        {% endif %}
        {% endif %}
      </div>
      {% endfor %}

      {% if section.shortcuts %}
      <table class="shortcuts">
        <thead>
          <tr>
            <th>Description</th>
            <th>Shortcut</th>
          </tr>
        </thead>
        <tbody>
          {% for shortcut in section.shortcuts %}
          <tr>
            <td>{{ shortcut[0] }}</td>
            <td>{{ shortcut[1] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>
  {% endfor %}

  {{ content }}
</div>
